// bower:scss
// endbower

body {
    background: #ecedee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0px;
    padding: 0px;
}

.mainContainer {
    display: block;
}

.header {
    height: 45px;
    background: linear-gradient(to bottom, #4e7ca1 0%,#33638a 100%);
}

.homeButton {
    display: inline-block;
    margin-left: 13%;
    height: 45px;
    width: 45px;
    background-size:45px 45px;
    background-image: url("http://s21.postimg.org/3sfmdg0kj/Screen_Shot_2014_06_16_at_7_59_03_PM.png");
}

.instagramLogo {
    display: inline-block;
    margin-left: 30%;
    height: 45px;
    width: 100px;
    background-size:100px 45px;
    background-image: url("http://www.userlogos.org/files/logos/jumpordie/instagram_01.png");
}

.postContainer {
    margin: 0px auto;
    background-color: #dedfe0;
    padding: 30px;
    width: 500px;
    box-shadow: 0px 0px 4px gray;
}

.post {
    display: block;
}

.commentInput {
    display: block;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 0px 0px 4px gray;
    margin-bottom: 30px;

}

.comment-input {
    width: 474px;
    line-height: 25px;
}

.postImage {
    display: block;
}

.statusBar {
    display: block;
    height: 50px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 4px gray;
}

.likeButton {
    display: inline-block;
    margin-left: 0%;
    height: 48px;
    width: 55px;
    background-size: 55px 50px;
    background-image: url("http://s30.postimg.org/ozarljmr1/Screen_Shot_2014_06_16_at_8_25_29_PM.png?noCache=1402964753");
    border-right: 2px solid #cacaca;
}

.dotButton {
    float: right;
    height: 48px;
    width: 55px;
    background-size: 55px 50px;
    background-image: url("http://s10.postimg.org/j8z7aq14l/Screen_Shot_2014_06_16_at_8_37_55_PM.png?noCache=1402965494");
    border-left: 2px solid #cacaca;

}

.comment {
    text-align: left;
    line-height: 50px;
    padding-left: 20px;
    background-color: #fafafa;
    height: 50px;
    box-shadow: 0px 0px 4px gray;
}

@media screen and (max-width: 1020px) {
   .homeButton {
    margin-left: 0%;
}

.instagramLogo {
    margin-left: 40%;

}
}

@media screen and (max-width: 815px) {
    .injuredListContainer {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .mainContainer {
        min-width: 400px;}

}
